{{# partial "titulo" }}	
	<title>Busqueda de Recetas - QueComemos</title>
{{/partial}}
		
{{# partial "contenido" }}	

<h1> Busqueda de Recetas </h1>
<br>
<br>

	<div class="container">
	<form action="/consultas" method= "GET">
	
	  <div class="col-md-6">
	<div class="row">
		
		 <label for="filtroNombre">Nombre</label>
			<input type="text" name="filtroNombre">
		
	</div>
	
	<div class="row">
		
		<label for="filtroDificultad">Dificultad</label>
			<input type="text" name="filtroDificultad">
		
	</div>
	</div>
	
	 <div class="col-md-6">
	<div class="row">
		
		<label for="filtroTemporada">Temporada</label>
			<input type="text" name="filtroTemporada">
		
	</div>
	
	<div class="row">
		
		<label for="filtroRangoCalorias">Calorías</label>
			<input type="text" name="filtroRangoCalorias">
		
	</div>
	
	</div>
	
	<br>
	<button type="submit" class="btn btn-default">Buscar</button>
	<br>
	</form>
	</div>
	
	<div class="row">
		<div class="col-md-12">	
		<table class="table table-striped" >
			<hr>
				<td>Nombre</td>
				<td>Calorías</td>
				<td>Dificultad</td>
				<td>Temporada</td>
			</hr>
		{{#consultas}}
			<tr>
				<td>{{nombreDelPlato}}</td>
				<td>{{totalCalorias}}</td>
				<td>{{dificultad}}</td>
				<td>{{temporada}}</td>
			</tr>
		{{/consultas}}				
		</table>
		</div>
		
		<br>
		<button type="submit" class="btn btn-default">Ver Receta</button>
		<br>
	</div>
	
{{/partial}}
				
{{> layout.hbs }}