{{# partial "titulo" }}
	<title>Receta - QueComemos</title>
{{/partial}}

{{# partial "contenido" }}
<h1>Edicion de Receta</h1>
<br>
<br>
<body>
	<div class="container">
	<form action="/receta" method= "POST">
	

<div class="row">
  <div class="col-md-1"> <label>Receta:</label> </div>
  	<div class="col-md-4">
  		<input type="text" name="nombre">
  	</div>
</div>
<br>

<div class="row">
  <div class="col-md-1"><label>Calorias:</label></div>
    	<div class="col-md-1">
  			<input type="myNumber" name="calorias">
  		</div>
 <!-- <div class="col-md-2"><label>Creado por:</label></div>
    	<div class="col-md-4">
  			<pre>{{creador}}</pre>
  		</div>
</div> -->

<br>

<div class="row">
  <div class="col-md-6"> <label>Dificultad</label> </div>
  <div class="col-md-6"> <label>Temporada</label> </div>
</div>
<br>


<div class="row">
  <div class="col-md-2"> <select class="form-control" name="dificultad">
					<option></option>
  					<option>FACIL</option>
  					<option>MEDIANA</option>
  					<option>DIFICIL</option>
				</select> </div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-2"> <select class="form-control" name="temporada">
					<option></option>
  					<option>VERANO</option>
  					<option>OTONIO</option>
  					<option>INVIERNO</option>
  					<option>PRIMAVERA</option>
				</select> </div>
 </div>

<br>
<div class="row">
	<div class="col-md-6"><label>Ingredientes</label>
  		<table class= "table table-bordered">
  		
  			<td> <label>Nombre</label> 
  			
  			  	<select class="form-control" name="nombreIngrediente">
					{{#ingredientes}}
  					<option>{{nombre}}</option>
  					{{/ingredientes}}
				</select>
  			
  			</td>
  			<td> <label>Dosis</label> 
  			
  				<select class="form-control" name="dosis">
					{{#ingredientes}}
  					<option>{{cantidad}}</option>
  					{{/ingredientes}}
				</select>
				
  			
  			</td>
  			
  			
  			<tr>

			
			</tr>
			
  		</table>
  	</div>
  <div class="col-md-6"><label>Condimentos</label>
  	
    <input type="myNumber" name="condimento">

  </div>
</div>
<br>


<div class="row">
  <div class="col-md-6">
   <br>
   <div class="checkbox">
  		<label>
    		
  		</label>
	</div>
  </div>
  <div class="col-md-6"><label>Condiciones Preexistentes</label>
	
	    {{#condiciones}}
  		<ul><p class="text-left"><span style="font-size: 100%"><em>{{nombre}}</em></span></p><ul>
        {{/condiciones}}
	
  </div>
</div>
<br>

			<div class="row">
  			<div class="col-md-6"> <label>Proceso de Preparacion</label> </div>
			</div>

			<textarea class="form-control" rows="5"></textarea>

			<p class="text-center"><a class="btn btn-primary btn-lg" href="/consultas/buscar" role="button">Volver</a></p>
		</form>
	</div>
</body>
{{/partial}}

{{> layout.hbs }}
